.Header{
  width: 100%;
  padding-top: 5px;

  .icon-logo-disney{
    width: 79.05px;
    height: 49px;
  }

  li{
    @include mobile{
      display: none;
    }
  }
}

.Navigation{
  height: 72px;

  @include mobile{
    height: max-content;
  }
}

.Navigation ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  @include mobile{
    justify-content: center;
  }
}

.LogoHeader{
  height: max-content;
  width: max-content;
  margin: 0 20px 10px 0;
  padding: 0px 36px;

  @include mobile{
    margin: 10px 0 0 0;
  }
}

.Navigation a{
  text-decoration: none;
  color: variables.$white;
  padding: 16px 18px;
}

.Navigation p{
  position: relative;
  font-family:  variables.$font2;
  font-size: 13px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 0px;
  margin: 0 10px;
  display: inline-block;
  overflow: hidden;

  &::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &:hover::after{
    animation:  showUnderline 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
}