.icon{
  content: '';
  background: #FFF;
  height: 25px;
  width: 25px;
  position: relative;
  z-index: 1;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

// ? SVG one color
// {
//     -webkit-mask-image: url('../../../public/svg/.svg');
//     mask-image: url('../../../public/svg/.svg') 
// }

// ? SVG with original colors
// {
//     background-color: transparent;
//     background-image: url('../../../public/svg/.svg');
// }

.icon-logo-disney{
  background-color: transparent;
  background-image: url('/svg/Disney_Plus_logo.svg');
}

.icon-eye-slash{
  -webkit-mask-image: url('/svg/eye-slash.svg');
  mask-image: url('/svg/eye-slash.svg') 
}

.icon-home{
  -webkit-mask-image: url('/svg/home-solid.svg');
  mask-image: url('/svg/home-solid.svg') 
}

.icon-search{
  -webkit-mask-image: url('/svg/search-solid.svg');
  mask-image: url('/svg/search-solid.svg') 
}

.icon-download{
  -webkit-mask-image: url('/svg/download-solid.svg');
  mask-image: url('/svg/download-solid.svg') 
}

.icon-add{
  -webkit-mask-image: url('/svg/plus-solid.svg');
  mask-image: url('/svg/plus-solid.svg') 
}

.icon-play{
  -webkit-mask-image: url('/svg/play-solid.svg');
  mask-image: url('/svg/play-solid.svg') 
}

.icon-film{
  -webkit-mask-image: url('/svg/film-solid.svg');
  mask-image: url('/svg/film-solid.svg') 
}