.NavbarMobile{
  position: fixed;
  z-index: 5;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 50px;

  .Avatar{
    width: 28px;
    height: 28px;
    padding: 0;
    border: 2px solid variables.$gray-2;

    &.active{
      border: 2px solid variables.$gray-1;
    }
  }

  .icon{
    background: variables.$gray-2;
    width: 24px;
    height: 24px;
  }

  .icon-download, .icon-search{
    width: 22px !important;
    height: 22px !important;
  }

  ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(#191A1F,0.8);
  }

  li{
    a.active{
      .icon{
        background: variables.$gray-1;
      }
    }
  }

  @include mobile{
    display: flex;
  }
}