.Slider-container{
  position: relative;
  width: 100%;
  height: 400px;
  background: none;
  margin: 0 auto;

  @include mobile{
    width: 100%;
    height: 200px;
  }
}

.CardSlider{
  position: relative;
  width: 98% !important;
  height: 370px !important;
  margin: 0px 1%;
  border-radius: 4px;
  box-shadow: 0 0 6px 3px rgba(0,0,0,0.5);
  border: 0.01mm solid variables.$blackHomeOne;

  @include mobile{
    height: 180px !important;
    width: 95% !important;
    margin: 10px;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.Mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #030b17 25%, #0c111b00 150%);
    border-radius: 4px;

    @include mobile{
      background: linear-gradient(to right, #030b17 30%, #0c111b00 100%);
    }
}

.Info-container{
  position: absolute;
  z-index: 20;
  bottom: 0;
  width: 35%;
  height: inherit;

  padding: 30px;

  color: variables.$white;
  font-family: variables.$font2;

  @include mobile{
    padding: 10px;
    width: 60%;
  }

  h2{
    font-size: 28px;
    margin: 40px 0px 20px 0px;
    padding: 10px 0px;

    @include mobile{
      font-size: 20px;
      margin: 20px 0px 0px 0px;
    }
  }

  p{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    line-height: 28px;
    font-family: variables.$font1;
    font-size: 16px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile{
      display: none;
    }
  }
}

.Slider-Card-Movie-container{
  width: 100%;
  height: 320px;
  margin: 20px 0;

  @include mobile{
    width: 110%;
    height: 210px;
    margin-left: -15px;
  }
}

.CardMovie{
  position: relative;
  width: 200px !important;
  height: 280px;
  border-radius: 5px;
  overflow: hidden;
  margin: 7% 40px;
  transition: .5s;

  &:hover{
    transform: scale(1.1);

    .Info-card-movie-container{
      opacity: 1;
    }

    @include mobile{
      transform: scale(1.15);
    }
  }

  @include mobile{
    width: 110px !important;
    height: 180px;
    margin: 12% 5px;
  }
}

.Card-movie-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Info-card-movie-container{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4,8,15,0), #192133 90%);
  padding: 18px;
  width: 100%;
  height: 100%;
  transition: .5s;
  color:  variables.$white;

  h2{
    font-size: 16px;
    font-family: variables.$font3;
    text-transform: capitalize;
    margin-top: 60%;
    margin-bottom: 5px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;

    @include mobile{
      font-size: 16px;
      margin-top: 50%;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 80px;
    }
  }

  h4{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px;
    margin: 5px 0;
    line-height: 20px;
    font-family: variables.$font1;
    font-size: 12px;
    opacity: 0.8;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;

    @include mobile{
      font-size: 10px;
      height: 45px;
      display: none;
    }
  }

  @include mobile{
    padding: 8px;
  }
}

.Buttons-container{
  width: 80%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include mobile{
    width: 100%;
    bottom: 15px;
    left: 0;
    justify-content: space-evenly;
    gap: 6px;
  }

}

.Btn-two{
  position: relative;
  min-width: 40px;
  width: max-content;
  height: inherit;
  text-transform: capitalize;
  background: none;
  border: none;
  color: rgba(variables.$white,0.5);
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: variables.$font1;
  font-size: 12px;

  &:hover{
    background: rgba(255,255,255, 0.5);
    color: variables.$white;

    @include mobile{
      background: variables.$blackHomeOne;
    }
  }

  .icon{
    width: 16px;
    height: 16px;

    @include mobile{
      width: 14px;
      height: 14px;
    }
  }

  p{
    margin-left: 2px;
  }

  @include mobile{
    min-width: 40%;
    height: max-content;
    padding: 5px 2.5px;
    justify-content: center;

    &:hover{
      background: rgba(255,255,255, 0.5);
      color: variables.$white;
    }

    p{
      display: none;
    }
  }
  
}