// * Colors
$bluetopbg:     #07082A;
$bluebottombg:  #1E3E87;
$white:         #FFFFFF;
$gray-1:        #E8EBF1;
$gray-2:        #77797F;
$bluebtn:       #0058E1;
$bluebtnhover:  #0582F0;
$blackfont:     #252526;
$blackHomeOne:  #1C1F2C;
$blackHomeTwo:  #0D0E14;
$blackbgprofile: #131313;
$bgcardvideo:    #030b17;

// * Fonts
$font1: 'NunitoSans_10pt-Regular';
$font2: 'NunitoSans_10pt-Bold';
$font3: 'NunitoSans_10pt-ExtraBold';